<script async src="https://www.googletagmanager.com/gtag/js?id=G-17YVC1EZF4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-17YVC1EZF4');
</script>
<script defer src="https://cloud.umami.is/script.js" data-website-id="5b2dd15f-a25b-406e-b487-89788b07b581"></script>
<script defer src="../seo-script.js"></script>
<script defer src="../scripts.js"></script>
<script defer src="../game-descriptions.js"></script> 